<nav class="navbar navbar-expand-lg navbar-light pt-0">
  <div class="container">
    <a class="navbar-brand mb-0 py-4 px-3 pt-4 text-center text-white bg-dark bg-gradient" href="{{ '/' | url }}">
      <img src="/img/kansei-logo-w.svg" alt="Kansei">
    </a>
    
    <!-- Offcanvas toggle button for mobile -->
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileNavOffcanvas" aria-controls="mobileNavOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Desktop navigation -->
    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/services/' | url }}">Services</a>
        </li>
        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/projects/' | url }}">Projects</a>
        </li>
        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/way-of-life/' | url }}">Way of Life</a>
        </li>
        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/blog/' | url }}">Xpressions'</a>
        </li>
        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/contact/' | url }}">Get in Touch</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Mobile Offcanvas -->
<div class="offcanvas offcanvas-start w-100" tabindex="-1" id="mobileNavOffcanvas" aria-labelledby="mobileNavOffcanvasLabel">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title" id="mobileNavOffcanvasLabel">
      <img src="/img/kansei-logo-w.svg" alt="Kansei" height="32">
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0">
    <ul class="nav nav-pills flex-column mobile-nav-menu">
      <li class="nav-item">
        <a class="nav-link mobile-nav-link" href="{{ '/services/' | url }}" data-bs-dismiss="offcanvas">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mobile-nav-link" href="{{ '/projects/' | url }}" data-bs-dismiss="offcanvas">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mobile-nav-link" href="{{ '/way-of-life/' | url }}" data-bs-dismiss="offcanvas">Way of Life</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mobile-nav-link" href="{{ '/blog/' | url }}" data-bs-dismiss="offcanvas">Xpressions'</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mobile-nav-link" href="{{ '/contact/' | url }}" data-bs-dismiss="offcanvas">Get in Touch</a>
      </li>
    </ul>
    
    <!-- Spacer and footer -->
    <div class="mt-auto pt-5">
      <hr class="mx-3 text-muted">
      <div class="text-center py-3 text-muted small">
        We are one Kansei
      </div>
    </div>
  </div>
</div>