<nav class="navbar navbar-expand-lg navbar-light pt-0">
  <div class="container">
    <a class="navbar-brand mb-0 py-4 px-3 pt-4 text-center text-white bg-dark bg-gradient" href="{{ '/' | url }}">
      <img src="/img/kansei-logo-w.svg" alt="Kansei" height="48">
    </a>
    
    <!-- Offcanvas toggle button for mobile -->
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileNavOffcanvas" aria-controls="mobileNavOffcanvas" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Desktop navigation -->
    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/services/' | url }}">Services</a>
        </li>
        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/projects/' | url }}">Projects</a>
        </li>
        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/way-of-life/' | url }}">Way of Life</a>
        </li>
        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/blog/' | url }}">Xpressions'</a>
        </li>
        <li class="nav-item me-1">
          <a class="nav-link" href="{{ '/contact/' | url }}">Get in Touch</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Mobile Offcanvas -->
<div class="offcanvas offcanvas-start w-100" tabindex="-1" id="mobileNavOffcanvas" aria-labelledby="mobileNavOffcanvasLabel">
  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title flex-grow-1 d-flex justify-content-center mb-0" id="mobileNavOffcanvasLabel">
      <img src="/img/kansei-logo-b.svg" alt="Kansei" height="40">
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body p-0 d-flex flex-column">
    <div class="list-group list-group-flush text-center my-auto">
      <a class="list-group-item list-group-item-action py-3" href="{{ '/services/' | url }}">Services</a>
      <a class="list-group-item list-group-item-action py-3" href="{{ '/projects/' | url }}">Projects</a>
      <a class="list-group-item list-group-item-action py-3" href="{{ '/way-of-life/' | url }}">Way of Life</a>
      <a class="list-group-item list-group-item-action py-3" href="{{ '/blog/' | url }}">Xpressions'</a>
      <a class="list-group-item list-group-item-action py-3" href="{{ '/contact/' | url }}">Get in Touch</a>
    </div>
    
    <!-- Spacer and footer -->
    <div class="mt-auto pt-5">
      <hr class="mx-3 text-muted">
      <div class="text-center py-3 text-muted small">
        We are <span class="fw-bold">onekansei</span>
      </div>
    </div>
  </div>
</div>