<!doctype html>
<html class="h-100" lang="{{ metadata.language }}" data-bs-theme="{{ global.colorMode }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body>

    {% include 'snippets/navbar.njk' %}

    <main>
      {{ content | safe }}
    </main>

    <footer class="container">
      {% include 'snippets/footer.njk' %}
    </footer>

    <script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
    <script>
      if (typeof bootstrap === 'undefined') {
        console.warn('Bootstrap JS not loaded! Offcanvas and other components may not work.');
      }
    </script>

  </body>

</html>