<!doctype html>
<html class="h-100" lang="{{ metadata.language }}" data-bs-theme="{{ global.colorMode }}">
  <head>
    {% include 'snippets/head.njk' %}
    <meta name="robots" content="noindex, nofollow">
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
  </body>
</html>
